<h3>Inclusão de Produto</h3>
<div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="">Título</span>
		</div>
		<input type="text" ng-model="produto.titulo" class="form-control">
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="">Descrição</span>
		</div>
		<input type="text" ng-model="produto.descricao" class="form-control">
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="">Preço</span>
		</div>
		<input type="number" ng-model="produto.preco" class="form-control">
	</div>


	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroupFileAddon01">Imagem</span>
		</div>
		<div class="custom-file">
			<input type="file" class="custom-file-input" file-model="imagem" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
			<label class="custom-file-label" for="inputGroupFile01">Escolha um arquivo</label>
		</div>
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01">Categoria</label>
		</div>
		<select ng-model="produto.categoria_id" class="custom-select" id="inputGroupSelect01">
			<option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.nome}}</option>
		</select>
	</div>

	<button class="btn btn-success" ng-if="!check()" ng-click="send()">Enviar</button>

</div>