<h3>Listagem de produto</h3>
<div ng-if="message" ng-class="message.class" role="alert">
	{{message.text}}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Categoria</th>
      <th scope="col">Imagem</th>
      <th scope="col"><button class="btn btn-success btn-sm" ng-click="create()">Adicionar Produto</button></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="produto in produtos">
      <td><span>{{produto.titulo}}</span></td>
      <td><span>{{produto.descricao}}</span></td>
      <td><span>{{produto.preco}}</span></td>
      <td><span>{{produto.categoria.nome}}</span></td>
      <td><img style="height:200px;object-fit:contain;" src="/{{produto.imagem}}"></td>
      <th scope="row">
        <button class="btn btn-outline-warning btn-sm" ng-click="update(produto)">Update</button>
        <button class="btn btn-outline-danger btn-sm" ng-click="delete(produto)">Delete</button>
      </th>
    </tr>
  </tbody>
</table>