<h3>Listagem de categoria</h3>
<div ng-if="message" ng-class="message.class" role="alert">
	{{message.text}}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col"><button class="btn btn-success btn-sm" ng-click="create()">Adicionar Categoria</button></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="categoria in categorias">
      <td><span>{{categoria.nome}}</span></td>
      <th scope="row">
      	<button class="btn btn-outline-warning btn-sm" ng-click="update(categoria)">Update</button>
      	<button class="btn btn-outline-danger btn-sm" ng-click="delete(categoria)">Delete</button>
      </th>
    </tr>
  </tbody>
</table>