
<h3>Alteração de Categoria</h3>

<div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="">nome</span>
		</div>
		<input type="text" ng-model="categoria.nome" class="form-control">
	</div>

	<button class="btn btn-warning" ng-if="!check()" ng-click="send()">Alterar</button>
</div>