<h3>Listagem de Vendas</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Comprador</th>
      <th scope="col">Contato</th>
      <th scope="col">Prazo de entrega</th>
      <th scope="col">Quantidade de itens</th>
      <th scope="col">Valor do frete</th>
      <th scope="col">Valor dos itens</th>
      <th scope="col">Valor Total</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="pedido in pedidos">
      <td><span>{{pedido.nome}}</span></td>
      <td><span>{{pedido.email}}</span></td>
      <td><span>{{pedido.prazo}} dias</span></td>
      <td><span>{{pedido.produtos.length}} itens</span></td>
      <td><span>R${{pedido.frete/100}}</span></td>
      <td><span>R${{valorItens(pedido)/100}}</span></td>
      <td><span>R${{(valorItens(pedido)+pedido.frete)/100}}</span></td>
    </tr>
  </tbody>
</table>