<section class="jumbotron text-center m-0">
  <div class="container">
      <h1 class="jumbotron-heading">Carrinho</h1>
  </div>
</section>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" href="/">Produtos</a>
    <button type="button" ng-click="fecharPedido()" class="btn btn-success" data-toggle="modal" data-target="#fecharPedido">
      Fechar Pedido
    </button>
</nav>

<div ng-if="message" ng-class="message.class" role="alert">
  {{message.text}}
</div>

<div ng-if="pedido.produtos.length == 0" class="alert alert-warning" role="alert">
  Carrinho vazio!
</div>

<div class="album py-5 bg-light">
  <div class="container">
      
    <div clas="row">

      <!-- Modal -->
      <div class="modal" id="fecharPedido" tabindex="-1" role="dialog" aria-labelledby="fecharPedidoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="fecharPedidoLabel">Fechamento de pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <p>Prazo de entrega <span>{{pedido.prazo}} dias</span></p>
              <p>Valor do frete <span class="text-success">R${{pedido.frete/100}}</span></p>
              <p>Valor do pedido <span class="text-success">R${{valorPedido()/100}}</span></p>
              <p>Valor Total <span class="text-success">R${{valorTotal()/100}}</span></p>



              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">nome</span>
                </div>
                <input type="text" ng-model="pedido.nome" class="form-control">
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">email</span>
                </div>
                <input type="text" ng-model="pedido.email" class="form-control">
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmarFechamento()">Confirmar</button>
            </div>
          </div>
        </div>
      </div>


    </div>


    <div class="row">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col">Imagem</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="produto in pedido.produtos">
            <td><span>{{produto.titulo}}</span></td>
            <td><span>{{produto.descricao}}</span></td>
            <td><span>R${{produto.preco/100}}</span></td>
            <td><span>{{produto.categoria.nome}}</span></td>
            <td><img style="height:200px;object-fit:contain;" src="/{{produto.imagem}}"></td>
            <th scope="row">
              <button class="btn btn-danger" ng-click="remover(produto)">Remover Produto</button>
            </th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>