<section class="jumbotron text-center m-0">
	<div class="container">
		  <h1 class="jumbotron-heading">LOJA STONE</h1>
	</div>
</section>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Produtos</a>

	<a class="navbar-brand" href="#" ng-click="retornar()"><</a>
	<a class="navbar-brand" href="#">Página {{pagina+1}}</a>
	<a class="navbar-brand mr-auto" href="#" ng-click="avancar()">></a>




	  



	<a class="navbar-brand col-sm-2 col-md-1 mr-0 btn" href="#!/carrinho">
		<span class="badge badge-success">Carrinho</span>
		<span class="badge badge-light">{{pedido.produtos.length}}</span>
	</a>
</nav>

<div ng-if="message" ng-class="message.class" role="alert">
	{{message.text}}
</div>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			<div ng-repeat="produto in produtosEmVitrine" class="col-md-3">
				<div class="card mb-3 shadow-sm">
					<div class="card-header">
						<p class="card-text">{{produto.titulo}}</p>
					</div>
					<img class="card-img-top rounded" style="height:200px;object-fit:contain;" src="/{{produto.imagem}}">
					<div class="card-body">
						<p class="card-text">{{produto.descricao}}</p>
						<p class="card-text text-success">R$ {{produto.preco/100}}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" ng-click="comprar(produto)"class="btn btn-sm btn-outline-success">Comprar</button>
							</div>
							<small>em {{produto.categoria.nome}}</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>